/*reset css*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/******colors******/

.bg-yellow{
    background-color: yellow;
}
.bg-grey{
    background-color: rgb(133, 97, 97);
}



/*******flex*******/
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.row{
    
    background-color: rgb(82, 45, 45);
}
.cell{
    background-color:rgb(75, 75, 211);
}
div[class ^= "col"]{ 
    
    height: 90%;
    border: 1px solid black;
    padding: 20px;
    
}

.container{
    width: 1200px;
    margin: 0 auto;
}





/*************griglia style*******************/

.flex > .col-width-12{
    width: 100%;
}
.flex > .col-width-11{
    width: calc(100%/12 * 11);
}
.flex > .col-width-10{
    width: calc(100%/12 * 10);
}
.flex > .col-width-9{
    width: calc(100%/12 * 9);
}
.flex > .col-width-8{
    width: calc(100%/12 * 8);
}
.flex > .col-width-7{
    width: calc(100%/12 * 7);
}
.flex > .col-width-6{
    width: calc(100%/12 * 6);
}
.flex > .col-width-5{
    width: calc(100%/12 * 5);
}
.flex > .col-width-4{
    width: calc(100%/12 * 4);
}
.flex > .col-width-3{
    width: calc(100%/12 * 3);
}
.flex > .col-width-2{
    width: calc(100%/12 * 2);
}
.flex > .col-width-1{
    width: calc(100%/12);
}



/**********OFFSET**********/