.row{
    height: calc(100vw/17);
    width: 100%;
    
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.conteiner{
    width: 1200px;
    height: 1200px;
}

/***colors***/

.bg-black{
    background-color: black;
}
.bg-red{
    background-color:#E41F26;
}
.bg-reds{
    background-color:#F28F78;
}
.bg-black-red{
    background-color:#C02223;
}
/**********OFFSET**********/

.flex > .offset-width-16{
    margin-left: calc(100%/17 * 16);
}
.flex > .offset-width-15{
    margin-left: calc(100%/17 * 15);
}
.flex > .offset-width-14{
    margin-left: calc(100%/17 * 14);
}
.flex > .offset-width-13{
    margin-left: calc(100%/17 * 13);
}


.flex > .offset-width-12{
    margin-left: calc(100%/17 * 12);
}

.flex > .offset-width-11{
    margin-left: calc(100%/17 * 11);
}
.flex > .offset-width-10{
    margin-left: calc(100%/12 * 10);
}
.flex > .offset-width-9{
    margin-left: calc(100%/12 * 9);
}
.flex > .offset-width-8{
    margin-left: calc(100%/12 * 8);
}
.flex > .offset-width-7{
    margin-left: calc(100%/12 * 7);
}
.flex > .offset-width-6{
    margin-left: calc(100%/12 * 6);
}
.flex > .offset-width-5{
    margin-left: calc(100%/12 * 5);
}
.flex > .offset-width-4{
    margin-left: calc(100%/12 * 4);
}
.flex > .offset-width-3{
    margin-left: calc(100%/12 * 3);
}
.flex > .offset-width-2{
    margin-left: calc(100%/12 * 2);
}
.flex > .offset-width-1{
    margin-left: calc(100%/12);
}

/*************griglia style*******************/


.flex > .col-width-17{
    width: calc(100%/17 * 1);
}


.flex > .col-width-15{
    width:calc(100%/17 * 15) 
}
.flex > .col-width-14{
    width:calc(100%/17 * 14) 
}
.flex > .col-width-13{
    width:calc(100%/17 * 13) 
}
.flex > .col-width-12{
    width:calc(100%/17 * 12) 
}
.flex > .col-width-11{
    width: calc(100%/17 * 11);
}
.flex > .col-width-10{
    width: calc(100%/17 * 10);
}
.flex > .col-width-9{
    width: calc(100%/17 * 9);
}
.flex > .col-width-8{
    width: calc(100%/17 * 8);
}
.flex > .col-width-7{
    width: calc(100%/17 * 7);
}
.flex > .col-width-6{
    width: calc(100%/17 * 6);
}
.flex > .col-width-5{
    width: calc(100%/17 * 5);
}
.flex > .col-width-4{
    width: calc(100%/17 * 4);
}
.flex > .col-width-3{
    width: calc(100%/17 * 3);
}
.flex > .col-width-2{
    width: calc(100%/17 * 2);
}
.flex > .col-width-1{
    width: calc(100%/17);
}